:root {
	/* Setting Colors for Pages */
	--primary-background-color: #000;
	--secondary-background-color: #EBEBFF;

	/* Setting Effects for Different Elements */
	--primary-text-color: #763CAC;
	--secondary-text-color: #0BCEAF;
	--primary-btn-color: #FFE873;
	--default-primary-color: #FFF;
	--default-secondary-color: #000;
	
	--primary-resume-btn-color: #251C31;
	--secondary-resume-btn-color: #0BCEAF;
	--resume-btn-shadow: 5px 5px 3px 0px #000;
	--hero-text-shadow: 1px 2px 10px #FFF;
	--hero-btn-shadow: 0px 2px 10px 0px #FFF;


	/* Gradient Colors for Elements */
	--custom-aboutpage-gradient: linear-gradient(270deg, #763CAC 0.09%, #080027 43.66%, #763CAC 99.45%);
	--custom-form-gradient: linear-gradient(180deg, #FFE873 0%, #FFF 100%);
	/* Setting Colors for Pages */
	--primary-background-color: #000;
	--secondary-background-color: #EBEBFF;

	/* Setting Effects for Different Elements */
	--primary-text-color: #763CAC;
	--secondary-text-color: #0BCEAF;
	--primary-btn-color: #FFE873;
	--default-primary-color: #FFF;
	--default-secondary-color: #000;
	
	--primary-resume-btn-color: #251C31;
	--secondary-resume-btn-color: #0BCEAF;
	--resume-btn-shadow: 5px 5px 3px 0px #000;
	--hero-text-shadow: 1px 2px 10px #FFF;
	--hero-btn-shadow: 0px 2px 10px 0px #FFF;


	/* Gradient Colors for Elements */
	--custom-aboutpage-gradient: linear-gradient(270deg, #763CAC 0.09%, #080027 43.66%, #763CAC 99.45%);
	--custom-form-gradient: linear-gradient(180deg, #FFE873 0%, #FFF 100%);
}

body {
	font-family: 'Arial', sans-serif;
}